@use 'mixins' as *;

.container {
    
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    @include mq {
        width: 760px;
    }

    @include mq('l') {
        width: 1000px;
    }
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include mq {
        flex-direction: row;
    }
}

.col {
    width: 100%;

    &-50m {
        @include mq {
            flex: 0 0 50%;
        }
    }
    
    &-33m {
        @include mq {
            flex: 0 0 33.333333%;
        }
    }
    
    &-25m {
        @include mq {
            flex: 0 0 25%;
        }
    }
    


    &-50l {
        @include mq('l') {
            flex: 0 0 50%;
        }
    }
    
    &-33l {
        @include mq('l') {
            flex: 0 0 33.333333%;
        }
    }
    
    &-25l {
        @include mq('l') {
            flex: 0 0 25%;
        }
    }


}