@use 'mixins' as *;
@use 'variables' as *;

.nav {
    color: #fff;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 14px 20px;
    transition: .5s;

    &-scroll {
        background-color: $color1;
        padding: 5px 20px;
    }

    &-content {
        display: flex;
        align-items: center;
        // height: 15vh;
        width: 100%;
        
        @include mq(2500px) {
            width: 70%;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    &-logo {
        flex-basis: 50%;
        font-size: 2rem;
        
        @include mq {
            font-size: 2.6rem;
        }
        
        text-transform: uppercase;
        letter-spacing: .5rem;
    }

    &-menu {
        flex-basis: 50%;
        text-align: right;
        
        .material-symbols-outlined {
            font-size: 5rem;

            @include mq('l') {
                display: none;
            }
        }
    }
}

.menu-ul {
    display: none;
    @include mq('l') {
        display: flex;
    }
    list-style: none;
    font-size: 1.8rem;

    li {
        flex-basis: 22%;
        text-align: center;
    }

    a {
        transition: .5s;
    }

    a:hover {
        color: $color-red;
    }
}