@use 'mixins' as *;
@use 'variables' as *;

.nav {
    color: #fff;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    padding: 14px 20px;
    transition: .5s;

    &-scroll {
        background-color: $color1;
        padding: 5px 20px;
    }

    &-content {
        display: flex;
        align-items: center;
        // height: 15vh;
        width: 100%;
        
        @include mq(2500px) {
            width: 70%;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }

    &-logo {
        flex-basis: 50%;
        font-size: 2rem;
        
        @include mq {
            font-size: 2.6rem;
        }
        
        text-transform: uppercase;
        letter-spacing: .5rem;
    }

    &-menu {
        flex-basis: 50%;
        text-align: right;
        
        .material-symbols-outlined {
            font-size: 5rem;

            @include mq('l') {
                display: none;
            }
        }
    }
}

.menu-ul {
    margin-block-start: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq('l') {
        display: none;
    }
    
    list-style: none;
    font-size: 1.8rem;
    background-color: black;
    color: whitesmoke;
    
    padding: 0;
    
    ul {
        margin: 0;
        height: 100%;
    }

    span {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    li {
        flex-basis: 20%;
        width: 100%;
        font-size: 2.8rem;
    }

    @include mq('l') {
    
        li {
            flex-basis: 22%;
            flex-direction: row;
            text-align: center;
        }
    
    }

    a {
        width: 100%;
        height: 100%;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a:hover {
        color: $color-red;
    }
}

.menu-hide {
    display: none;
}

.small-menu {
    display: flex;

    @include mq ('l') {
        display: none;
    }
}

.big-menu {
    display: none;

    @include mq ('l') {
        display: flex;
    }
}